.h-no-scroll {
  overflow: hidden;
}


// Spacing Helpers
.h-padding-top {
  padding-top: $spacing-lg;

  @include tablet {
    padding-top: $spacing-xl;
  }

  // @include desktop {
  //   padding-top: $spacing-xl;
  // }
}

.h-padding-top-bot {
  padding: $spacing-lg 0;

  @include tablet {
    padding: $spacing-xl 0;
  }

  // @include desktop {
  //   padding: $spacing-xl 0;
  // }
}

.h-align-items-center {
  display: flex;
  align-items: center;
}

.h-margin-right {
  margin-right: $spacing-sm;
}

.h-justify-content-flex-end {
  display: flex;
  justify-content: flex-end;
}

.h-justify-content-center {
  justify-content: center;
}