.h-no-scroll {
  overflow: hidden;
}

.h-no-margin-none {
  margin: 0;
}

.h-margin-bottom-sm-to-md {
  margin-bottom: $spacing-sm;

  @include tablet {
    margin-bottom: $spacing-md;
  }
}

.h-margin-bottom-md-to-lg {
  margin-bottom: $spacing-md;

  @include tablet {
    margin-bottom: $spacing-lg;
  }
}

.h-margin-bottom-lg-to-xl {
  margin-bottom: $spacing-lg;

  @include tablet {
    margin-bottom: $spacing-xl;
  }
}

.h-margin-right-sm {
  margin-right: $spacing-sm;
}

.h-align-items-center {
  display: flex;
  align-items: center;
}


.h-justify-content-center {
  justify-content: center;
}