// Colors
$white: #ffffff;
$black: #000000;
$purple: #9b59d0;
$yellow: #fff433;


// Breakpoints
$breakpoint-tablet: 768px;
$breakpoint-desktop: 1024px;

// Spacing
$spacing-sm: 12px;
$spacing-md: 24px;
$spacing-lg: 48px;
$spacing-xl: 96px;